@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Thayloilocnuoc.Models.tblNew>
<div id="Contents">
    <div class="Root">
        @Html.Raw(ViewBag.nUrl)
    </div>
    <div class="Clear"></div>
    <div id="News">
        <div id="ContentNews">

            <div id="LeftNews">
                <div id="LeftNews">
                    <div class="nVar_news">
                        <h1>@Html.Raw(ViewBag.Name)</h1>

                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="Tear_News">
                            <a href="/3/@item.Tag" title="@item.Name"><img src="@item.Images" alt="@item.Name" /></a>
                            <h2><a href="/3/@item.Tag" title="@item.Name" class="Name">@item.Name</a></h2>
                            <span class="Cata"><span></span>Thời gian gửi: @item.DateCreate</span>
                            <span class="Des">@item.Description</span>
                        </div>
                    }
                    <div class="Clear"></div>
                    @Html.PagedListPager(Model, page => Url.Action("ListNews", new { page = page, sortOrder = ViewBag.CurrentSortOrder, sortName = ViewBag.CurrentSortName, sortLevel = ViewBag.CurrentSortLevel }), (PagedListRenderOptions)ViewBag.ship)


                </div>

            </div>


            <div id="RightNews">
                <div class="nVar_1">
                    <span>Chuyên mục chính</span>
                </div>
                <div class="ListMenu">
                    <a href="/2/Tin-tuc" title="Tin tức">› Tin tức</a>
                    <a href="/2/Tuyển dụng" title="Tuyển dụng">› Tuyển dụng</a>
                    <a href="#" title="Khuyến mại" rel="nofollow">› Bản tin khuyến mại</a>
                    <a href="/2/He-thong-phan-phoi" title="Hệ thống phân phối">› Nhà phân phối</a>

                </div>

                <div id="Box_MXH"></div>
            </div>

        </div>


    </div>
    <div class="Clear"></div>


</div>
