@model Thayloilocnuoc.Models.tblConfig
<div id="RightProduct">
    <div id="Supports">
        <div id="img_Support"></div>

        <div id="Contact_Support">
            <span class="Hotline"><span></span> @Model.HotlineIN</span>
            <span class="Mobile"><span></span> @Model.MobileIN</span>
            <span class="Email"><span></span> @Model.Email</span>
            <span class="Address"><span></span> @Model.Address</span>
        </div>
        <div id="ListSupport">

            <span class="httt">Hỗ trợ trực tuyến</span>
            <div class="Line_Buttom"></div>
            @Html.Raw(ViewBag.chuoisupport)
            <div class="line-Support"></div>
        </div>
    </div>
    <div id="MenuProduct">
        <div class="nVar_Left">
            <span>Danh mục liên quan</span>
        </div>
        <div id="Content_MenuProduct">
            @Html.Raw(ViewBag.chuoimenu)
           

        </div>
    </div>
    <div id="ProductLienquan">
        <div class="nVar_Left">
            <span>Sản phẩm liên quan khác</span>
        </div>
        <div id="ContentProductlienquan">
            @Html.Raw(ViewBag.chuoisp)
        </div>
    </div>
</div>
