@model Thayloilocnuoc.Models.tblAddress

@{
    ViewBag.Title = "Sửa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#SelectImages").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Images").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div id="InsertPoduct">
        <div class="Nvar_Content_Detail">
            <div class="Left_Nvar">
                <img src="/Content/Admin/Icon/folder.png" alt="Danh mục sản phẩm" />Sửa đường phố
            </div>
            <div class="Right_Nvar">
                <div id="msg" class="msg">
                    <div class="alert alert-info" id="update-message">
                    </div>
                </div>
            </div>
        </div>
        <div class="Content_Content_Detail">
            <div class="tr_1">
                <div class="left_tr1" id="Test">
                    <span>Tỉnh thành :</span>
                </div>
                <div class="Right_tr1">
                    @Html.DropDownList("drMenu", "===== Select Group Product=====")


                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Tên đường phố :</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Name, null, new { @class = "Leght_2" }) <span class="Aler_ttxtName" style="color:#F00"></span>

                </div>
            </div>

            <div class="tr_1">
                <div class="left_tr1">
                    <span>Địa chỉ :</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Address, null, new { @class = "Leght_2" })

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Email :</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Email, null, new { @class = "Leght_2" })

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Điện thoại :</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Mobile, null, new { @class = "Leght_2" })

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Hotline:</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Hotline, null, new { @class = "Leght_2" })

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Bản đồ:</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextAreaFor(p => p.Maps, new { @class = "Leght_6" })

                </div>
            </div>

            <div class="tr_1">
                <div class="left_tr1"><span>Active:</span></div>
                <div class="Right_tr1">


                    @Html.RadioButtonFor(p => p.Active, true, new { @id = "Active", @checked = "True" }) : Yes
                    @Html.RadioButtonFor(p => p.Active, false, new { @id = "Active" }): No



                </div>
            </div>

            <div class="tr_1">
                <div class="left_tr1">
                    <span>Ord:</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Ord, new { @class = "txtWarraty"  })

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                </div>
                <div class="Right_tr1">
                    <button type="submit" id="btnAdd" name="btnAdd" class="btnAdd">Sửa</button>
                </div>
            </div>
        </div>

    </div>
}



<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'Maps');
    });

</script>
